{{!< ../views/layouts/main}}
<head>
	<title> CloudCommuting Test </title>

	<style>

		body {
			width: 100%;
			font-family: Arial, Verdana, sans-serif;
			font-size: 100px;
			padding-top: 100px;
			background-color: hsl(0, 100%, 100%);
		}

	</style>
	<script src="/socket.io/socket.io.js"></script>
	<script>

		var myId = {{mPlayer}}; 

		var playerIds = [1,2,3,4,5,6,7,8,9,10];
		var playerStock = [false, false, false, false, false, false, false, false, false, false];
		var playerPoints = [0,0,0,0,0,0,0,0,0,0];
		
		var stationIds = [1,2,3,4,5];
		var stationStock = [0,0,0,0,0];
		var stationBonuses = [false, false, false, false, false];
		var stationBonusPts = [0,0,0,0,0];

		// =============================================
		// 1 - connect to node socket.io server
		// =============================================
		var socket = io.connect('http://172.16.245.247:3000/');	

		socket.on('connect', function () {
			console.log("Connected");
		});

		// =============================================
		// 2 - Receive a check-in event from the server
		// =============================================

		socket.on('playerCheckIn', function (checkInData){

			console.log('Received CheckIn Event');

			var playerId = checkInData[0];
			var stationId = checkInData[1];

			var index = playerIds.indexOf(parseInt(playerId));

			// console.log("Player Ids " + playerIds );
			// console.log("Player Id " + playerId);
			// console.log(typeof(playerId));
			// console.log("Station Id " + stationId);
			// console.log("Index " + index);
			// console.log("Player Stock Array " + playerStock);
			// console.log("Player Stock " + playerStock[index]);

			//checking in a bike
			if (myId == playerId && playerStock[index] == true){
				if(checkStation(stationId)){
					var r = confirm("Return Bike?");
					if (r) {
						var checkInStatus = [playerId, stationId];
					    socket.emit ('checkInConfirm', checkInStatus);
					    console.log('Returned Bike!');
					} 
				} 
			}

			//checking out a bike
			if (myId == playerId && playerStock[index] == false){
				if(checkStation(stationId)){
					var r = confirm("Take Bike?");
					if (r) {
						var checkInStatus = [playerId, stationId];
					    socket.emit ('checkInConfirm', checkInStatus);
					    console.log('Took Bike!');
					} 
				}
			}

		});

		function checkStation(station){
			
			var index = stationIds.indexOf(station);

			if (stationStock[index] == 5){
				alert("Station is full - find another!");
				return false;
			} else if (stationStock[index] == 0) {
				alert("Station is empty - no bikes here!");
				return false;
			}else {
				return true;
			}
		};

		socket.on('playerUpdate', function (playerData){
			//playerId playerData[0] number
			//playerPts playerData[1] number
			//playerStock playerData[2]	boolean

			for (var i = 0; i < playerData.length; i++){
				var index = playerIds.indexOf(playerData[i][0]);
				playerPoints[index] = playerData[i][1];
				playerStock[index] = playerData[i][2];
			}

		});

		socket.on('stationUpdate', function (stationData){
			//stationId stationData[0] number
			//stationInv stationData[1] number
			//stationBonus stationData[2] boolean
			//stationBonusPts = stationData[3] number	

			for (var i = 0; i < stationData.length; i++){
				var index = stationIds.indexOf(stationData[i][0]);
				stationStock[index] = stationData[i][1];
				stationBonuses[index] = stationData[i][2];
				stationBonusPts[index] = stationData[i][3];
			}

		});	
	</script>

</head>